#header{
    margin-top: 5vh;
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#body{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    gap: 10px;
    box-shadow: 0px 0px 10px rgb(97, 97, 97);
}

#currOrderBox{
    background-color: white;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    width: 45%;
}

#membershipStatusBox{
    background-color: white;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    width: 45%;
}

