@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

#app{
    display:flex;
    flex-direction: column;
}

*{
    font-family: 'Fredoka', sans-serif;
    border-right: 0;
    border-left: 0;
    box-sizing: border-box;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
   
}